<div class="container mt-3">
    <h2>Enter the Following Details</h2>
    <form action=#>
      <select name="cars" class="custom-select mb-3">
        <option selected>Custom Select Menu</option>
        <option value="volvo">Volvo</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
      </select>
      
    </form>
  
  
    <div class="button_group">
        <input type='button' value='-' class='qtyminus' field='quantity' />
        <input type='text' name='quantity' value='0' class='qty' />
        <input type='button' value='+' class='qtyplus' field='quantity' />
      </div>
  </div>