.leftsidediv{
	/* float: right;
	background-color:greenyellow;
	margin-right: 20px;
	border-radius: 5px;
	padding-bottom: 120px;
	margin-bottom: 5px;
    margin-top: 5px; */
    background-color:white;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom:0px;
    margin-right:15px;
    margin-left: 5px;
    border-bottom:3px solid rgb(236, 226, 226);
    padding-bottom: 110px;
} 

.leftsidediv h2{
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
}

.myspan{
	padding-top: 2px;
	font-size: 18px;
}

.leftsidediv .myspan1{
	padding-top: 5px;
}