<div class = "col-md-4 leftside">


    <div class="row leftsidediv">
      <div class="col-sm-12 ">
        <h2>Your Request Details</h2>
        <span class="col col-sm-3 myspan">{{request}}</span>
          <div class="amountwrapper col col-sm-4">
            <input type='text' disabled name='quantity' value={{count}} class='qty' />
          </div>
        <span class="col col-sm-2 myspan1">x {{unitPrice}}</span>
        <span class="col col-sm-3 myspan"> &#8377;{{totalPrice}}</span>
      </div>
    </div>




   <div class = "row leftsidediv1">
    <div class="col-sm-12 ">
      <div class="row subtotal">
        <span class="col col-sm-5"><h4>Subtotal</h4></span>
        <span class="col col-sm-6 myspan2">{{totalPrice}}</span>
      </div>
      <div>(plus taxes)</div>
      <div class="form-group submit">
        <textarea class="form-control comment" rows="2" id="comment"></textarea>
        <button type="button" class="btn btn-success btn-lg btn-block" (click) = "submit()">submit </button>
      </div>
    
    </div>
  </div>



  </div>
