.leftsidediv1{
	/* float: right;
	background-color:greenyellow;
	margin-right: 20px;
	border-radius: 5px;
	margin-top: 5px;
    padding-bottom: 10px; */
    background-color:white;
    margin-right: 15px;
    margin-left:5px;
    border-radius: 5px;
    margin-top:0px;
    
    padding-top:15px;
    padding-left:1px;
    padding-right:1px;

} 
.leftsidediv1 p{
	margin-bottom: 40px;
}


.leftsidediv1 .myspan2{
	padding-top: 5px;
	font-size: 18px;
    text-align: right;
    background-color:white;
}

.subtotal{
    background-color:white;
}

.submit{
    margin-top:5px;
    padding: 2px;
    background-color: white;
}
.comment{
    margin-bottom: 10px;
    max-width:100%;
    max-height: 70px;
    min-height: 70px;
    min-width: 100%;
    
}