
<div class="amountwrapper col col-sm-4">
    <input type='button' value='-' class="qtyminus" field='quantity' />
    <input type='text' name='quantity' value='0' class='qty' />
    <input type='button' value='+' class='qtyplus' field='quantity' />
  </div>

  	<!-- <div class="amountwrapper col col-sm-4">
		<input type='button' value='-' class="qtyminus" field='quantity' />
		<input type='text' name='quantity' value='0' class='qty' />
		<input type='button' value='+' class='qtyplus' field='quantity' />
	</div> -->
