<div class = "container-fluid mybody">
	
	<div class = "container-fluid main-container">
		<app-success></app-success>
		<div class = "row">
			
<div class="col-sm-7 rightsidediv">  
    <form>
        <div class="form-group row inputdiv">
          <label for="inputRoomNo." class="col-sm-4 col-form-label">Room No.</label>
          <div class="col-sm-4">
              <input type="text" class="form-control" id="inputRoomNo" placeholder="Enter Room no.">
          </div>
        </div>
        <div class="form-group row inputdiv">
          <label for="mainCategory" class="col-sm-4 col-form-label">Service Category</label>
          <div class="col-sm-4">
            <select class="form-control" id="mainCategory" name = "mainCategory" (ngModelChange)="callType($event)" (ngModel) = "parentCategories">
				<option *ngFor = "let category of parentCategories" [ngValue] = "category">"{{category.serviceTypeDesc}}"</option>
			</select>
          </div>
        </div>
        <div class="form-group row inputdiv">
          <label for="exampleFormControlSelect1" class="col-sm-4 col-form-label">Service Sub-Category</label>
          <div class= "col-sm-8">
          <div class="col-sm-6 dropdown">
            <select class="form-control" id="exampleFormControlSelect1" name = "exampleFormControlSelect1" (ngModelChange)="showPrice($event)" (ngModel) = "subCategories">
                <option *ngFor = "let subCategory of subCategories" [ngValue] = "subCategory">"{{subCategory.serviceTypeDesc}}"  </option>
            </select>
          </div>
		  <span class="col col-sm-2 myspan"> &#8377;{{totalPrice}}</span>
		  
			<div class="amountwrapper col col-sm-4">
				<input type='button' value='-' class="qtyminus" field='quantity' (click)="decrement()" />
				<input type='text' disabled name='quantity' value='{{counter}}' class='qty' />
				<input type='button' value='+' class='qtyplus' field='quantity'(click)="increment()" />
			</div>

         </div>
         
        </div>
      <div class="form-group row inputdiv lastInput">
          <label for="targetServiceTime" class="col-sm-4 col-form-label">Target Service Time</label>
          <div class='col-sm-4'>        
               <div class="input-group date" data-date-format="dd.mm.yyyy">
                   <input  type="date" class="form-control" placeholder="dd-mm-yyyy">
                  <div class="input-group-addon" >
                      <span class="glyphicon glyphicon-th"></span>		            	
                    </div>
              </div>
          </div>    
      </div>
    </form>
  </div>
			






			<app-left-div [count] = counter [unitPrice] = unitprice [totalPrice] = totalPrice [request] = request></app-left-div>
		</div>

	</div>


</div>
